
body {
  position: relative;
  padding: 0 !important;
}

.unit {
  height: 8px;
  width: 7px;
  border-radius:50%;
  background-color: rgba(0, 0, 0, 0);
  float: left;
}

.green-dot {
  background-color:green;
}

.pulsing{
  background-color:green;
  animation: pulse 1s infinite;
  width: 100%;
  height: 100%;
  border-radius:50%;
  
  &:after {
    content: "";
    border-radius: 100%;
    width: 200%;
    height: 200%;
    background-color: lighten(green, 49%);
    animation: pulse 3s linear infinite;
  }
  &:before {
    content: "";
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background-color:green;
    animation: pulse 3s linear infinite;
    animation-delay: 1s;
  }
}

  @keyframes pulse {
  0% {
    transform: scale(1, 1);     
    opacity: 1;
  }
  100% {
    transform: scale(2 , 2);     
    opacity: 0;
  }
}

#container {
  transform: scale(0.9);
  margin: 55px 0;
  width: 1065px;
  height: 599px;
  
  @media all and(max-width: 1430px) {
    overflow: hidden;
    margin-left: -110px;
  }
  @media all and(max-width: 1200px) {
    transform: scale(0.7);
    margin-left: -156px;
    margin-top: 0;
    margin-bottom: 0;
  }
  @media all and(max-width: 895px) {
    transform: scale(0.7);
    margin-left: -190px; 
  }
  @media all and(max-width: 750px) {
    transform: scale(0.6);
    margin-left: -226px; 
  }
  @media all and(max-width: 660px) {
    transform: scale(0.5);
    margin-left: -250px;
  }
  @media all and(max-width: 580px) {
    transform: scale(0.4);
    margin-left: -270px;
  }
  @media all and(max-width: 520px){
    transform: scale(0.3);
    margin-left: -320px;
  }
  @media all and(max-width: 480px){
    transform: scale(0.3);
    margin-left: -350px;
  }
  @media all and(max-width: 370px){
    transform: scale(0.3);
    margin-left: -380px;
  }

}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

@media (min-width: 1200px) {
  .container {
    width: 1120px;
  }
}

.navbar-default {
  background-color: transparent;
  transition: background-color 200ms linear;
  border: none;
}

.landing {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  background-size: cover;
  margin-bottom: -5px !important;
  min-height: 500px;
  height: calc(100vh - 150px);
  overflow: hidden;
  @media all and(max-width: 895px) {
    overflow: hidden;
  }
}

#vid {
  background-color: black;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  transition: transform 500ms linear;
  @media all and(max-width: 1000px) {
   width: auto;
   height: 500px;
  }
  @media all and(max-width: 700px) {
  transform: translateX(-20%) translateY(0);
  transition: transform 500ms linear;
  }
}

.text {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  height: calc(100vh - 150px);
  @media all and(max-width: 1080px) {
    height: 550px;
  }
}

.navbar-white {
  color: white !important;
  padding-right: 35px;
  font-family: "Montserrat-Regular", sans-serif;

  &:hover {
    color: green !important;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

.navbar-nav {
  margin-top: 45px;
  float: right;
  transition: margin-top 300ms linear;
  margin-right: 50px;
  z-index: 10;
}

.brand-logo {
  height: 63px;
  width: 167px;
}

.navbar-brand {
  height: 90px;
  margin-top: 30px;
  transition: margin-top 300ms linear;
  margin-left: 55px;
  @media all and(max-width: 991px) {
    margin-left: 0;
  }
}

.jumbotron-text {
  right: 0;
  left: 0;
  // top: calc(50% - 0.67em - 80px);
  top: 0;
  bottom: 150px;
  transform: translateY(-35px);
  height: calc(324px);
  margin-top: auto;
  margin-bottom: auto; 
  @media all and(max-width: 895px){
    transform: none;
    height: 140px;
    bottom: 100px;
  }
}

.heading {
  color: white !important;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 100px !important;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  @media all and(max-width: 991px) {
    font-size: 30px !important;
  }
}

.leading {
  color: white !important;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  @media all and(max-width: 991px) {
    font-size: 15px !important;
  }
}

.promotion-row {
  background-color: black;
  position: relative;
}

.col-md-3 {
  text-align: center;
  margin-top: 55px;
}

.logo {
  margin-bottom: 35px;
}

.logo-name {
  color: white;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  text-transform: uppercase;
}

.logo-describtion {
  color: grey;
  font-family: "Lato-regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 60px;
}

.img-full-width {
  width: 100%;
}

.col-md-6 {
  padding: 0;
}

.loadMore-row {
  background-color: black;
}

.load-more {
  border: 1px solid white;
  color: white;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  padding: 36px 0;
  text-transform: uppercase;
  @media all and(max-width: 991px) {
    padding: 20px 0;
  }
}

.load-more:hover{
  background-color: green;
  color: black;
  border-color: black;

}

.center {
  margin: 75px 0;
  @media all and(max-width: 991px) {
    margin: 25px 0;
  }
}

.height-fix {
  display: inline-block;
}

.moto {
  margin-top: 135px;
  margin-bottom: 140px;
  color: black;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 69px;
  font-weight: 700;
  line-height: 106px;
  text-align: left;
  @media all and(max-width: 1119px) {
    font-size: 59px;
  }
  @media all and(max-width: 991px) {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 25px;
    margin-top: 25px;
  }
}

.about {
  background-color: white;
  color: black;
  font-family: "Lato-regular", sans-serif;
  font-size: 25px;
  text-align: justify;
  @media all and(max-width: 991px) {
    font-size: 15px;
    line-height: 30px;
  }
}

.qoute {
  color: black;
  font-family: "Lato-regular", sans-serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 45px;
  @media all and(max-width: 991px) {
    margin-top: -80px;
    font-size: 15px;
  }
}

.qoute-auth {
  color: black;
  font-family: Adelle, sans-serif;
  font-size: 25px;
  font-style: italic;
  line-height: 45px;
  @media all and(max-width: 991px) {
    margin-bottom: 30px;
    margin-top: -30px;
    font-size: 15px;
  }
}

.q {
  color: black;
  font-family: "AbrilFatFace-Regular";
  font-size: 225px;
  font-style: italic;
  line-height: 45px;
  margin-top: -25px;
  margin-left: -160px;
  margin-bottom: 95px;
  @media all and(max-width: 1339px) {
    display: none;
  }
}

.qmobile {
  display: none;
  @media all and(max-width: 1339px) {
    display: flex;
    font-family: "AbrilFatFace-Regular";
    font-size: 125px;
    line-height: 140px;
    height: 50px;
  }
  @media all and(max-width: 991px) {
    display: inline;
    height: 0px;
  }
}

.map {
  background-color: grey;
}

.mapimg {
  margin-top: 85px;
  opacity: 0.6;
  margin-bottom: 55px;
  @media all and(max-width: 991px) {
    margin-top: 0;
  }
}

.meet-us {
  margin-top: 150px;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 75px;
  margin-bottom: 155px;
  @media all and(max-width: 991px) {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 40px;
    font-size: 35px;
    line-height: 35px;
    br {
      display: none;
    }
  }
}

.green {
  color: #1ccc7f;
}

.carousel-section {
  background-color: black;
  margin-bottom: 671px;
}

.carousel-cell {
  width: 100%;
  height: 400px;
  margin-right: 10px;
  color: white;
  text-align: center;
  @media all and(max-width: 991px) {
    height: 300px;
  }
}

.main-carousel {
  margin-top: 60px;
  margin-bottom: 140px;
  @media all and(max-width: 991px) {
    margin-bottom: 80px;
  }
}

.flickity-page-dots {
  bottom: 0px;
}

.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}

.flickity-page-dots .dot.is-selected {
  background: white;
}

.qcarousel {
  color: white;
  font-family: "AbrilFatFace-Regular", sans-serif;
  font-size: 225px;
  font-style: italic;
  line-height: 165px;
  margin-bottom: -40px;
  margin-left: -65px;
  @media all and(max-width: 991px) {
    margin-bottom: -65px;
  }
}

.mail {
  color: black !important;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 75px;
  font-weight: 700;
  text-align: center;
  text-decoration: underline !important;
  cursor: pointer;

  &:hover {
    color: black;
  }
  @media all and(max-width: 991px) {
    font-size: 25px;
  }
}

.title {
  color: black;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 40px;
   @media all and(max-width: 700px) {
    font-size: 20px;
    line-height: 20px;
   }
}

.address {
  color: black;
  font-family: "Lato-regular", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 32px;
  @media all and(max-width: 400px) {
    font-size: 15px;
    line-height: 30px;
  }
}

.mail-row {
  margin: 120px 0;
  text-align: center;
  @media all and(max-width: 991px) {
    margin: 40px;
  }
  @media all and(max-width: 400px) {
    margin: 0;
  }
}

.address-row {
  margin-bottom: 120px;
  @media all and(max-width: 991px) {
    margin-bottom: 0;
  }
}

.credit {
  color: white;
  font-family: "Lato-regular", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 40px;
  margin-top: 60px;
  @media all and(max-width: 991px) {
    margin-top: 40px;
    color: white;
    font-size: 15px;
  }
}

.qoute-main-text {
  color: white;
  font-family: "Lato-Light", sans-serif;
  font-size: 25px;
  font-weight: 100;
  line-height: 40px;
  @media all and(max-width: 991px) {
    color: white;
    font-family: "Lato-Light", sans-serif;
    font-size: 15px;
    line-height: 25px;
  }
}

.flickity-prev-next-button, .previous {
  display: none;
}

.carousel-row {
  margin: 0 0;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.burger {
  width: 30px;
  height: 14px;
  border-top: 2px solid rgba(255, 255, 255, 1);
  border-bottom: 2px solid rgba(255, 255, 255, 1);
  float: right;
  margin-right: 20px;
  cursor: pointer;
  display: none;
  margin-top: -50px;
  @media all and(max-width: 991px) {
    // margin-top: -35px;
  }
  &::before {
    content: '';
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 1);
    margin-top: 4px;
    display: block;
  }
}

.bar {
  background-color: white;
}

.burger-list {
  display: none;
  margin-left: 15px;
  margin-top: 50px;
  margin-right: 50px;
  li {
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  li:hover {
    text-decoration: none;
  }
}

.arrow {
  @media all and(max-width: 991px) {
    display: none;
  }
}

.map-list {
  display: none;
  @media all and(max-width: 991px) {
    display: inline;
  }
}

.date {
  opacity: 0.7;
  color: black;
  font-family: "Lato-regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
}

.location {
  color: black;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
  margin-bottom: 20px;
  &:nth-child(3n) {
    border-bottom: none;
    margin-bottom: 0;
  }
}

.location-list {
  margin: 0 20px;
}

.russia {
  position: absolute;
  background: transparent;
  border: none !important;
  cursor: pointer;
  height: 20px;
  width: 20px;
  left: 575px;
  bottom: 386px;
  outline: none !important;
  @media all and(max-width: 1200px) {
    left: 496px;
    bottom: 339px;
  }
  @media all and(max-width: 991px) {
    display: none;
  }
}

.london {
  position: absolute;
  background: transparent;
  border: none !important;
  cursor: pointer;
  height: 20px;
  width: 20px;
  left: 462px;
  bottom: 407px;
  outline: none !important;
  @media all and(max-width: 1200px) {
    left: 398px;
    bottom: 358px;
  }
  @media all and(max-width: 991px) {
    display: none;
  }
}

.row-fix {
  overflow: hidden;
  background-color: white;
}

.spain {
  position: absolute;
  background: transparent;
  border: none !important;
  cursor: pointer;
  height: 20px;
  width: 20px;
  bottom: 334px;
  left: 417px;
  outline: none !important;
  @media all and(max-width: 1200px) {
    bottom: 297px;
    left: 361px;
  }
  @media all and(max-width: 991px) {
    display: none;
  }
}

.popnew {
  background: transparent;
  border: none !important;
  cursor: pointer;
  height: 20px;
  width: 20px;
  outline: none !important;
  display: -webkit-box;
  transform: translate(-35%, -38%);
  @media all and(max-width: 991px) {
    // display: none;
  }
}

.popover {
  border-radius: 0;
}

button:focus {
  outline: none;
}

.location-popover {
  color: black;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.date-popover {
  opacity: 0.7;
  color: black;
  font-family: "Lato-regular", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.col-md-6 {
  margin-bottom: -5px;
}

.svg-to-white path {
  fill: white;
}

.image {
  position: relative;
  width: 100%;
  background-position: center center;
  background-size: cover;
}

.image-name {
  position: absolute;
  bottom: 11px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  text-align:center;
}

.lightbox .lb-image {
  border-radius: 0;
  border: none;
}

.info {
  background-color: white;
}



.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: inherit;
  color: green !important;
}

.pos-fixed {
  position: fixed;
}


.pos-relative {
  position: relative;
}

#info-container {
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -2;
}

.nav .menu-item a{
    color: white !important;

    &:hover {
      color: green !important;
    }
}

.fb {
  background-image: url('../images/facebook.svg');
  background-repeat:no-repeat;
  background-position: center bottom;
  margin-right: 15px;
  margin-top: 3px;
  &:hover{
    background-image: url('../images/facebook-green.svg');
  }
}

.behe {
  background-image: url('../images/behe.svg');
  background-repeat:no-repeat;
  background-position: center bottom;
  margin-right: 15px;
  margin-top: 3px;
  &:hover{
    background-image: url('../images/behe-green.svg');
  }
}

.insta {
  background-image: url('../images/instagram.svg');
  background-repeat:no-repeat;
  background-position: center bottom;
  margin-top: 3px;
  &:hover{
    background-image: url('../images/instagram-green.svg');
  }
}

.mobile-fix {
@media all and(max-width: 960px) {
    margin-top: -100px;
    height: 520px;
    // height: 420px;
  }
  @media all and(max-width: 660px) {
    margin-top: -166px;
    height: 420px;
  }
  @media all and(max-width: 560px) {
    margin-top: -207px;
    height: 385px;
  }
  @media all and(max-width: 450px){
    margin-top: -207px;
    height: 385px;
  }

}